/* General Styling */

body {
    background-image: linear-gradient($top-color, $bottom-color);
    color: $text-color;
    font-family: $main-type;
    font-size: 1rem;
}

p, span {
    line-height: 1.2rem;
}

main {
    padding: 0 1rem 1rem 1rem;

    @include mobile-lg {
        padding: 0 2.5rem 2.5rem 2.5rem;
    }

    @include desktop {
        padding-top: 2.5em;
    }
}

body {

    @include desktop {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }
}