/* General Styling */

body {
    background-image: linear-gradient($top-color, $bottom-color);
    color: $text-color;
    font-family: $main-type;
    font-size: 1rem;

    @include tablet {
        max-width: 800px;

        margin: 0 auto;
    }

    @include desktop {
        max-width: 1400px;
    }

    .main-div {
        @include desktop {
            display: grid;
            margin-top: 2rem;

            grid-template-columns: repeat(2, 1fr);
        }
    }
}

p, span {
    line-height: 1.5rem;
}

main {
    padding: 0 1rem 1rem 1rem;

    @include mobile-lg {
        padding: 0 2.5rem 2.5rem 2.5rem;
    }

    @include desktop {
        padding-top: 2.5em;
    }
}