/* Colors */
$text-color: white;
$top-color: #354e58;
$bottom-color: #f59942;
$card-background-color: #1f1f1f;
$card-title-background-color: #424848;
$card-title-color: #d9d9d9;
$card-text-color: #999999;

/* Typography */
$main-type: 'Inter', sans-serif;