/* Base */ /* Colors */
/* Typography */
/* Reset the margin and padding */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Avoid problems with images */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reset the links to function as boxes... */
a {
  display: block;
}

/* ... except those found in paragraphs */
p a {
  display: inline;
}

/* Remove the points from the <li> */
li {
  list-style-type: none;
}

/* Set soft anchors */
html {
  scroll-behavior: smooth;
}

/* Deactivate default styles for the main text labels */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Avoid problems with the pseudo-elements of quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* Configure the text that we select */
::selection {
  background-color: #393939;
  color: #ececec;
}

/* Level typography and form placement problems */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Reset tables */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Avoid problems with the SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configure the typography for the entire web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #393939;
  background-color: #ececec;
}

/* Colors */
/* Typography */
/* General Styling */
body {
  background-image: linear-gradient(#354e58, #f59942);
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

header {
  padding: 2.5em 1.5em;
}

h1 {
  font-size: 3rem;
  margin: 1em 0 0.5em;
  letter-spacing: -2px;
  line-height: 3.5rem;
}

img {
  width: 3rem;
}

.logo {
  filter: brightness(150%);
}

p, span {
  line-height: 1.5rem;
}

main {
  padding: 0 1em 1em 1em;
}

/* Components */
.input-section__measurement {
  padding: 2rem 0 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.input-section__measurement label {
  padding-left: 0.5rem;
  font-size: 1rem;
  color: #d9d9d9;
}
.input-section__measurement input {
  accent-color: #f59942;
}
.input-section__data label {
  color: #999999;
}
.input-section__data input {
  outline: none;
  width: 90%;
}
.input-section__data div {
  display: flex;
  width: 100%;
  height: 4rem;
  margin: 1rem 0 1rem;
  border: 1px solid #999999;
  border-radius: 0.7rem;
  padding: 1rem;
}
/* Hiding input number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.card {
  background-color: #1f1f1f;
  border-radius: 2em;
  padding: 1em;
}
.card__title {
  background-color: #424848;
  border-radius: 2rem;
  font-size: 1.25rem;
  color: #d9d9d9;
  height: 4rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
}
.card__title img {
  width: 3.5rem;
  border-radius: 50%;
  background-color: #f59942;
  padding: 0.75rem;
}
.card__title span {
  padding-left: 1.5rem;
}

/* Pages */

/*# sourceMappingURL=style.css.map */
