/* Base */ /* Colors */
/* Typography */
/* Reset the margin and padding */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Avoid problems with images */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reset the links to function as boxes... */
a {
  display: block;
}

/* ... except those found in paragraphs */
p a {
  display: inline;
}

/* Remove the points from the <li> */
li {
  list-style-type: none;
}

/* Set soft anchors */
html {
  scroll-behavior: smooth;
}

/* Deactivate default styles for the main text labels */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Avoid problems with the pseudo-elements of quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* Configure the text that we select */
::selection {
  background-color: #393939;
  color: #ececec;
}

/* Level typography and form placement problems */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Reset tables */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Avoid problems with the SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configure the typography for the entire web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #393939;
  background-color: #ececec;
}

/* Colors */
/* Typography */
/* ---------- Media Queries ---------- */
/* 600px */
/* 768px */
/* 1200px */
/* 1312px */
/* General Styling */
body {
  background-image: linear-gradient(#354e58, #f59942);
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
@media screen and (min-width: 75em) {
  body .main-div {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

p, span {
  line-height: 1.5rem;
}

main {
  padding: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 37.5em) {
  main {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}
@media screen and (min-width: 75em) {
  main {
    padding-top: 2.5em;
  }
}

/* Components */
header {
  padding: 2.5em 1.5em;
}
@media screen and (min-width: 37.5em) {
  header {
    padding: 2.5em 2.5em;
  }
}
@media screen and (min-width: 75em) {
  header {
    padding-top: 5em;
  }
}
header h1 {
  font-size: 3rem;
  margin: 1em 0 0.5em;
  letter-spacing: -2px;
  line-height: 3.5rem;
  max-width: 350px;
}
@media screen and (min-width: 37.5em) {
  header h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    max-width: 400px;
  }
}
header img {
  width: 3rem;
}
@media screen and (min-width: 37.5em) {
  header img {
    width: 3.5rem;
  }
}
header .logo {
  filter: brightness(150%);
}
header p {
  max-width: 700px;
  line-height: 1.7rem;
}
@media screen and (min-width: 37.5em) {
  header p {
    font-size: 1.1rem;
  }
}

.input-section {
  max-width: 700px;
}
.input-section__form label {
  color: #999999;
  padding-left: 0.2rem;
}
.input-section__form input {
  outline: none;
  width: 100%;
}
.input-section__form div {
  display: flex;
  width: 100%;
  height: 4rem;
  margin: 1rem 0 1rem;
  border: 1px solid #999999;
  border-radius: 0.7rem;
  padding: 1rem;
}
.input-section__form span {
  margin-left: 0.5rem;
  line-height: 1.8rem;
}
.input-section__form button {
  cursor: pointer;
  margin: 1em auto;
  width: 8rem;
  border: solid 2px #f59942;
  border-radius: 0.7rem;
  font-size: 1.5rem;
}
.input-section__form button:hover {
  color: #1f1f1f;
  background-color: #f59942;
  transform: scale(1.2);
  transition: background-color 0.5s, transform 0.2s;
}
@media screen and (min-width: 37.5em) {
  .input-section__form {
    display: grid;
    grid-template-areas: "lname lname lname" "name name name" "lheight . lweight" "height . weight" "button button button";
    grid-template-columns: 1fr 1rem 1fr;
  }
  .input-section__form .input-section__name {
    grid-area: name;
  }
  .input-section__form .input-section__height {
    grid-area: height;
  }
  .input-section__form .input-section__weight {
    grid-area: weight;
  }
  .input-section__form .input-section__button {
    grid-area: button;
  }
  .input-section__form .input-section__label-name {
    grid-area: lname;
  }
  .input-section__form .input-section__label-height {
    grid-area: lheight;
  }
  .input-section__form .input-section__label-weight {
    grid-area: lweight;
  }
}
@media screen and (min-width: 48em) {
  .input-section__form {
    grid-template-areas: "lname . lheight . lweight" "name . height . weight" "button button button button button";
    grid-template-columns: repeat(2, 1fr 1rem) 1fr;
  }
}
.input-section__result {
  background-color: #f59942;
  color: #1f1f1f;
  font-weight: 600;
  border-radius: 0.7rem;
  padding: 1rem;
}
@media screen and (min-width: 37.5em) {
  .input-section__result {
    border-radius: 1rem 10rem 10rem 1rem;
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 48em) {
  .input-section__result {
    justify-content: center;
    padding: 0.5rem;
  }
  .input-section__result div {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 75em) {
  .input-section__result {
    justify-content: space-between;
    padding: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .input-section__result div {
    display: block;
  }
}
@media screen and (min-width: 84em) {
  .input-section__result {
    justify-content: center;
    padding: 0.5rem;
  }
  .input-section__result div {
    display: flex;
    align-items: center;
  }
}
.input-section__bmi {
  width: 100px;
}
@media screen and (min-width: 48em) {
  .input-section__bmi {
    margin: 0 2rem 0 2rem;
  }
}
@media screen and (min-width: 75em) {
  .input-section__bmi {
    margin: 0;
  }
}
@media screen and (min-width: 84em) {
  .input-section__bmi {
    margin: 0 1.1rem 0 1.1rem;
  }
}
.input-section__bmi-number {
  font-size: 3rem;
  padding: 2rem 0;
}
@media screen and (min-width: 48em) {
  .input-section__bmi-number {
    margin: 0 2rem 0 2rem;
  }
}
@media screen and (min-width: 75em) {
  .input-section__bmi-number {
    font-size: 4rem;
    margin: 0;
  }
}
@media screen and (min-width: 84em) {
  .input-section__bmi-number {
    margin: 0 1.1rem 0 1.1rem;
  }
}
.input-section__bmi-text {
  font-size: 0.9rem;
}
.input-section__bmi-text span {
  text-decoration: underline;
  text-underline-offset: 2px;
}
@media screen and (min-width: 37.5em) {
  .input-section__bmi-text {
    width: 90%;
    max-width: 250px;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 48em) {
  .input-section__bmi-text {
    margin: 0 2rem 0 2rem;
  }
}
@media screen and (min-width: 75em) {
  .input-section__bmi-text {
    margin: 0 1rem 0 5rem;
  }
}
@media screen and (min-width: 84em) {
  .input-section__bmi-text {
    margin: 0 1.1rem 0 1.1rem;
  }
}

/* Hiding input number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.card {
  background-color: #1f1f1f;
  border-radius: 2em;
  padding: 1em;
}
.card__title {
  background-color: #424848;
  border-radius: 2rem;
  font-size: 1.25rem;
  color: #d9d9d9;
  margin-bottom: 1rem;
  height: 4rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
}
.card__title img {
  width: 3.5rem;
  border-radius: 50%;
  background-color: #f59942;
  padding: 0.75rem;
}
.card__title span {
  padding-left: 1.5rem;
}

.result-section {
  grid-column: span 2;
  margin: 0 1rem 2rem;
}
@media screen and (min-width: 37.5em) {
  .result-section {
    margin: 0 2.5rem 2.5rem;
  }
}
@media screen and (min-width: 48em) {
  .result-section {
    max-width: 700px;
  }
}
@media screen and (min-width: 75em) {
  .result-section {
    max-width: none;
  }
}
.result-section__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  line-height: 10rem;
  min-height: 4.5rem;
}
.result-section__button {
  cursor: pointer;
  font-size: 1.5rem;
  transition: font-size 0.5s;
  padding-left: 1rem;
}
.result-section__button:hover {
  font-size: 2rem;
  padding-left: 0.5rem;
}
.result-section__bmi {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* Pages */

/*# sourceMappingURL=style.css.map */
