.card {
    background-color: $card-background-color;
    border-radius: 2em;
    padding: 1em;

    &__title {
        background-color: $card-title-background-color;
        border-radius: 2rem;
        font-size: 1.25rem;
        color: $card-title-color;
        margin-bottom: 1rem;

        height: 4rem;
        padding: 0.25rem;

        display: flex;
        align-items: center;

        img {
            width: 3.5rem;
            border-radius: 50%;
            background-color: $bottom-color;
            padding: 0.75rem;
        }

        span {
            padding-left: 1.5rem;
        }
    }
}