.input-section {

    max-width: 700px;

    &__form {

        label {
            color: $card-text-color;
            padding-left: .2rem;
        }

        input {
            outline: none;
            width: 100%;
        }

        div {
            display: flex;

            width: 100%;
            height: 4rem;
            margin: 1rem 0 1rem;
            border: 1px solid $card-text-color;
            border-radius: .7rem;
            padding: 1rem;
        }

        span {
            margin-left: 0.5rem;
            line-height: 1.8rem;
        }

        button {
            cursor: pointer;
            margin: 1em auto;
            width: 8rem;
            border: solid 2px $bottom-color;
            border-radius: .7rem;
            font-size: 1.5rem;

            &:hover {
                color: $card-background-color;
                background-color: $bottom-color;
                transform: scale(1.2);
                transition: background-color .5s, transform .2s;
            }
        }

        @include mobile-lg {
            display: grid;
            grid-template-areas:
                "lname lname lname"
                "name name name"
                "lheight . lweight"
                "height . weight"
                "button button button";
            grid-template-columns: 1fr 1rem 1fr;

            .input-section {

                &__name {
                    grid-area: name;
                }

                &__height {
                    grid-area: height;
                }

                &__weight {
                    grid-area: weight;
                }

                &__button {
                    grid-area: button;
                }

                &__label {

                    &-name {
                        grid-area: lname;
                    }

                    &-height {
                        grid-area: lheight;
                    }

                    &-weight {
                        grid-area: lweight;
                    }
                }
            }
        }

        @include tablet {
            grid-template-areas:
                "lname . lheight . lweight"
                "name . height . weight"
                "button button button button button";
            grid-template-columns: repeat(2, 1fr 1rem) 1fr;
        }
    }

    &__result {
        background-color: $bottom-color;
        color: $card-background-color;
        font-weight: 600;
        border-radius: .7rem;
        padding: 1rem;

        @include mobile-lg {
            border-radius: 1rem 10rem 10rem 1rem;
            padding: 1.5rem;
            padding-bottom: .5rem;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @include tablet {
            justify-content: center;
            padding: .5rem;

            div {
                display: flex;
                align-items: center;
            }
        }

        @include desktop {
            justify-content: space-between;
            padding: 1.5rem;
            padding-bottom: .5rem;

            div {
                display: block;
            }
        }

        @include desktop-lg {
            justify-content: center;
            padding: .5rem;

            div {
                display: flex;
                align-items: center;
            }
        }
    }

    &__bmi {
        width: 100px;

        @include tablet {
            margin: 0 2rem 0 2rem;
        }

        @include desktop {
            margin: 0;
        }

        @include desktop-lg {
            margin: 0 1.1rem 0 1.1rem;
        }
    }

    &__bmi-number {
        font-size: 3rem;
        padding: 2rem 0;

        @include tablet {
            margin: 0 2rem 0 2rem;
        }

        @include desktop {
            font-size: 4rem;
            margin: 0;
        }

        @include desktop-lg {
            margin: 0 1.1rem 0 1.1rem;
        }
    }

    &__bmi-text {
        font-size: .9rem;

        span {
            text-decoration: underline;
            text-underline-offset: 2px;
        }

        @include mobile-lg {
            width: 90%;
            max-width: 250px;
            margin-right: 1rem;
        }

        @include tablet {
            margin: 0 2rem 0 2rem;
        }

        @include desktop {
            margin: 0 1rem 0 5rem;
        }

        @include desktop-lg {
            margin: 0 1.1rem 0 1.1rem;
        }
    }
}

/* Hiding input number arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}